<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container toTheLeft">

<div th:replace="fragments :: page-header"></div>

<form method="post">

    <th:block th:each="game : ${games}">
        <div class="form-group">
            <label>
                <span style="color:white" th:text="${game.name}"></span>
                <input type="checkbox" name="gameIds" th:value="${game.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>