.body-content {
    margin-top: 72px;
    background-color: #454444;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
    color:black;
}

tr:nth-child(even) {
    color:white;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.job-listing {
    border: 1px solid #e4e4e4;
    width: 80%;
    background-color: #e4e4e4;
}

form {
    margin-top: 72px;
}

body.melikey {
    background-image:url('/image/meLikeyBangBangWebsiteEdition.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.p1{
    font: Garamond;
    font-weight: bold;
    text-shadow: 2px 2px #FF0000;
    text-align: left;
}

body.kafka {
    background-image:url('/image/KafkaWebsiteEdition.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

body.blast {
    background-image:url('/image/BlastToTheRightWebsiteEdition.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.whitebg{
    background-color: #fff;
}

body.toTheLeft {
    background-image:url('/image/sheLooks@TheLeftV2WebsiteEdition.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

a.b-nav {
	transition: all 0.1s linear;
	color: #004f8c;
	text-shadow: 0 1px 0 rgba(255,255,255,.65);
	padding: 0 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background-color: #e3f3ff;
	border-radius: 4px;
	box-shadow:
		0 1px 2px rgba(0,0,0,0.2),
		inset 0 -1px 0 rgba(0,0,0,0.25),
		inset 0 -45px 45px -45px #c2e5ff;
	text-decoration: none !important;
	&.too-long { transition: all 0.75s linear; }
	&.too-short { transition: all 0.03s linear; }
	&:hover {
		color: #004f8c;
		background-color: #dbefff;
		box-shadow:
			0 1px 2px rgba(0,0,0,0.25),
			inset 0 -1px 0 rgba(0,0,0,0.25),
			inset 0 -45px 45px -45px #b1dcff;
	}
	&:active {
		color: #004f8c;
		line-height: 47px !important;
		box-shadow:
			0 0 0 rgba(0,0,0,0),
			inset 0 1px 1px rgba(0,0,0,0.2),
			inset 0 45px 45px -45px #b1dcff,
			0 1px 0 rgba(255,255,255,0.5);
		background-color: #d5e9fb;
	}

a.b-primary {
    color: #004f8c;
    text-shadow: 0 1px 0 rgba(255,255,255,0.65);
   	padding: 0 30px;
   	height: 45px;
   	line-height: 45px;
   	display: inline-block;
   	background-color: #e3f3ff;
   	transition: all 0.1s linear;
   	border-radius: 4px;
   	box-shadow:
    	0 1px 2px rgba(0,0,0,0.2),
   		inset 0 -1px 0 rgba(0,0,0,0.25),
   		inset 0 -45px 45px -45px #c2e5ff;
   	text-decoration: none !important;
    }

}
