<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:h="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container toTheLeft">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2 class="p1" style="color:white"><span th:text="${game.achievement.name}"></span> details!</h2>

    <div>
        <table class="table table-striped" bgcolor="white">
            <tr>
                <td>
                    <p>Name</p>
                </td>
                <td>
                    <p>Achievement</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:text = "${game.name}"></p>
                </td>
                <td>
                    <p th:text = "${game.platform}"></p>
                </td>
                <td>
                    <li th:each = "achievement: ${game.achievements}">
                        <p th:text = "${achievement.name}"></p>
                    </li>
                    <li th:each = "achievement: ${game.achievements}">
                        <p th:text = "${achievement.description}"></p>
                    </li>
                    <a th:href="'/achievements?gameId=' + ${game.id}">Add Achievement?</a>
                </td>
            </tr>
        </table>
    </div>



</html>