<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/vats.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'VATS' + ${title == null ?'':'::' + title}">VATS</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
           <a th:href="@{/}" class="navbar-brand">VATS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/games}">Games</a></li>
                <li><a th:href="@{/achievements}">Achievements</a></li>
                <li><a th:href="@{/reviews}">Reviews</a></li>
                <li><a th:href="@{/register}">Register</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>