<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: head"></header>
<div>
<table class="table table-striped">
    <tr>
        <td>
            <p>Name</p>
        </td>
        <td>
            <p>Platform</p>
        </td>
        <td>
            <p>Achievement</p>
        </td>
        <td>
            <p>Review</p>
        </td>
    </tr>
    <tr  th:each= "game: ${games}">
        <td>
            <a th:text = "${game.name}"></a>
        </td>
        <td>
            <p th:text = "${game.platform}"></p>
        </td>
        <td>
            <li th:each = "achievement: ${game.achievements}">
                <p th:text = "${achievement.name}"></p>
            </li>
        </td>
        <td>
            <li th:each = "review: ${game.reviews}">
                <p th:text = "${review.name}"></p>
            </li>
        </td>
    </tr>
</table>
</div>
<a th:href="'/achievements?gameId=' + ${game.id}">Add Achievement?</a>


</body>
</html>