<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container melikey">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
        <h1 class="p1" style="color:white" align="center">Hello <span th:text="${user.getName}"></span> !</h1>
        <h1 class="p1" style="color:white" align="center">Welcome to the Real-Time Video Game Achievement Tracking System!</h1>
        <h3 th:text="${myerrors}">Errors: </h3>

        <form class="p1" method="post" style = "max-width:500 px;">
            <script>String str = "${user.getName}"</script>
            <div class="form-group">
                <label style="color:white" th:for="user">User Name: </label>
                <select name = "userName">
                    <option th:text="${user.getName}" th:value="${user.getName}">
                    </option>
                </select>
                <br>
                <label style="color:white" th:for="game">Game Name: </label>
                <select name = "gameId">
                    <option th:each = "game: ${games}" th:text="${game.name}" th:value="${game.id}">
                    </option>
                </select>
                <a style="color:white" th:href="@{/games}"> Add new games</a>
            </div>
            <input type = "submit" value = "Log your Game" />
        </form>

    <h1 style="color:white">Games Logged</h1>
    <div>
        <table class = "table table-striped">
            <tr>
                <td>
                    <p>Game Name</p>
                </td>
                <td>
                    <p>Achievement</p>
                </td>
                <td>
                    <p>Review</p>
                </td>
            </tr>
            <tr th:each= "tracker: ${trackers}">
                <td>
                    <p th:text = "${tracker.game.name}"></p>
                </td>
                <td>
                    <li th:each = "achievement: ${tracker.game.achievements}">
                        <p th:text = "${achievement.name}"></p>
                    </li>
                </td>
                <td>
                    <li th:each = "review: ${tracker.game.reviews}">
                        <p th:text = "${review.name}"></p>
                    </li>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>